.inputContainer {
    display: flex;
    align-items: center;
  }
  
  .input {
    box-sizing: border-box;
    width: 100%;
    justify-self: center;
    padding: 0.5rem;
    border: 0.1vw solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    transition: background-color 0.3s;
  }
  
  input:focus {
    outline: none;
  }
  
  .invalid {
    color: #ff2f00;
    border: 0.1vw solid #ff2f00;
  }