.dashboardContainer{
    position: relative;
}

.dashBoardMain{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5rem;
    background-color: #F3F3F3;
    z-index: 4;
}

.authMain{
    height: 100%;
}

.title{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #004CA3;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: underline #990033;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    color: #6D6D6D;
    font-size: 1.8rem;
    font-weight: 200;
}

.menuButton{
    width: 3rem;
    height: 3rem;
    align-self: center;
    justify-self: end;
    border-radius: 100%;
    background-color: transparent;
    border: 0.1vw solid #E0E0E0;
    cursor: pointer;
}

.open{
    background-color: #E0E0E0;
}

.homeMain{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 65% 35%;
    background-color: #003066;
}

.upperHeader{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upperHeader .homeTitle{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #F3F3F3;
    font-size: 3rem;
    font-weight: 300;
    text-decoration: underline #990033;
}

.homeOptions{
    box-sizing: border-box;
    width: max-content;
    height: 100%;
    display: flex;
    gap: 1.5rem;
}

.homeOptions button{
    box-sizing: border-box;
    padding: 0.3rem 0.85rem;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 2rem;
    font-size: 1.5rem;
    border: 0.1vw solid #F3F3F3;
    color: #F3F3F3;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.homeOptions button:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.lowerHeader{
    box-sizing: border-box;
    border-top: 0.1vw solid #F3F3F3;
    display: flex;
    justify-content: center;
}

.lowerHeader .location{
    width: max-content;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E0E0E0;
    text-decoration: none;
    transition: 0.3s;
}

.lowerHeader .location:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.lowerHeader .icons{
    width: max-content;
    display: flex;
}

.lowerHeader .icons a{
    width: 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0E0E0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .upperHeader{
        padding: 0 2.5%;
    }

    .homeOptions{
        max-width: 30%;
        flex-direction: column;
        justify-content: center;
        gap: 0.35rem;
    }

    .homeOptions button{
        padding: 0.25rem 0.6rem;
        font-size: 1rem;
    }

    .upperHeader .homeTitle {
      font-size: 2rem;
    }



    .lowerHeader .icons{
        width: 100%;
        max-width: 8rem;
        display: flex;
    }

    .lowerHeader .icons a{
        width: 100%;
        max-width: 2rem;
    }
}

@media (max-width: 425px) {
    .upperHeader{
        padding: 0 2.5%;
    }

    .homeOptions{
        max-width: 50%;
        flex-direction: column;
        justify-content: center;
        gap: 0.35rem;
    }

    .homeOptions button{
        padding: 0.25rem 0.6rem;
        font-size: 0.9rem;
    }

    .upperHeader .homeTitle {
      font-size: 1.85rem;
    }

    .lowerHeader .location{
        width: 10rem;
        padding: 0 0.5rem;
        font-size: 0.8rem;
    }

    .title{
        font-size: 1.3rem;
    }
    
    .menuButton{
        width: 2rem;
        height: 2rem;
    }
}