.searchBar{
    box-sizing: border-box;
    width: 100%;
    height: 65%;
    align-self: center;
    display: grid;
    grid-template-columns: 85% 15%;
    border: 0.1vw solid #00000032;
    border-radius: 5vw;
    overflow: hidden;
}

.searchBar input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.126), #ffffff0d);
    border: none;
    color: #E0E0E0;

}

.searchBar input:focus, input::placeholder{
    outline: none;
    color: #E0E0E0;
}

.searchBar button{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    border-left: 0.1vw solid #00000032;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.126), #ffffff0d);
    color: #E0E0E0;
}

@media only screen and (max-width: 600px) {
    .searchBar {
        height: 75%;
        padding-left: 2%;
    }
  } 