.main{
    box-sizing: border-box;
    height: 70%;
    aspect-ratio: 1;
    border-radius: 100%;
    justify-self: flex-end;
    align-self: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.main img{
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: cover;
}

.main button{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: black;
    background-color: #E0E0E0;
    border: 0.1vw solid #CCCCCC;
    border-top-right-radius: 0.1vw;
    border-bottom-right-radius: 0.1vw;
}

@media only screen and (max-width: 600px) {

} 