.dropdown{
    box-sizing: border-box;
    z-index: 2;
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    overflow-y: scroll;
    background-color: #212121;
    border: 0.15vw solid #494949;
}

.dropdown::-webkit-scrollbar{
    display: none;
}

.dropdown li{
    display: flex;
    background-color: #212121;
    border-bottom: 0.1vw solid #494949;
    transition: background-color 0.3s;
}

.dropdown li:hover{
    background-color: #494949;
}

.empty{
    box-sizing: border-box;
    padding: 4% 4%;
    justify-content: center;
    font-size: 1.35vw;
    color: #7D7D7D;
}