.main{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  padding-top: 0;
  border-radius: 0.5rem;
  background-color: #F3F3F3;
  overflow: hidden;
}

.options{
  flex: 0 1 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  border-radius: 0.5rem;
  box-shadow: 1px 4px 6px #000000;
}

.tableContainer{
  display: flex;
  width: 100%;
  overflow: scroll;
}

.tableContainer::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

.table{
  width: 100%;
  background-color: #F3F3F3;
  box-shadow: 1px 4px 6px #000000;
  border-collapse: collapse;
}

.refference tr{
  color: #E0E0E0;
  font-weight: 600;
  /* box-shadow: 1px 4px 6px #CCCCCC, 0px 2px 4px #CCCCCC; */
}

.medic tr{
  background-color: #990033;
}
.patient tr{
  background-color: #0088A3;
}

.refference tr th{
  padding: 0 0.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

.body tr{
  background-color: #CCCCCC;
  transition: 0.1s;
}

.body.medic tr:hover{
  background-color: rgba(153, 0, 51, 0.2);
}
.body.patient tr:hover{
  background-color: rgba(0, 136, 163, 0.2);
}

.body tr td{
  min-width: 15rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.actions{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.medicLink, .patientLink{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0.1vw solid;
  color: #2B2B2B;
  cursor: pointer;
  transition: color, background-color 0.2s;
}

.medicLink:hover{
  color: #E0E0E0;
  background-color: #990033;
}

.patientLink:hover{
  color: #E0E0E0;
  background-color: #005566;
}

.icon{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.professionalInfo{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.professionalInfo img{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  object-fit: cover;
}

.specialty{
  font-size: 0.9rem;
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #2B2B2B;
}

@media (max-width: 768px) {
  .refference tr th{
    font-size: 1rem;
  }
  .body tr td{
    min-width: 10rem;
    font-size: 1rem;
  }
}