.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: 1px 4px 6px #cccccc;
}

.inputs {
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.inputs input[type="date"],
.inputs select {
  width: 100%;
  padding-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #005566;
  color: #fff;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* @media (max-width: 825px) {
  .controls {
    flex-direction: row;
  }

  .inputs {
    width: 40%;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
  }

  .inputs input[type="date"],
  .inputs select {
    width: 100%;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .controls {
    flex-direction: column;
    height: 80%;
  }

  .inputs {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    font-size: 0.8rem;
  }

  .inputs input[type="date"],
  .inputs select {
    width: 100%;
    padding-left: 0.5rem;
    font-size: 1rem;
  }

  .pagination {
    margin-top: 1rem;
  }
} */