.patient, .medic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 0.1vw solid #2B2B2B;
    transition: background-color 0.2s;
}

.patient:hover{
    background-color: rgba(153, 0, 51, 0.2);
}

.medic:hover{
    background-color: rgba(0, 85, 102, 0.2);
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patient a, .medic a{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: transparent;
    border: 0.1vw solid;
    color: #2B2B2B;
    transition: color, background-color 0.2s;
}

.patient a:hover{
    color: #E0E0E0;
    background-color: #990033;
}

.medic a:hover{
    color: #E0E0E0;
    background-color: #005566;
}

.medicSpan{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.medicSpan img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.date{
    max-width: 5rem;
}

.actions{
    display: flex;
    gap: 0.5rem;
}