.container{
    box-sizing: border-box;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #F3F3F3;
    padding: 1.5rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #2B2B2B;
    text-align: center;
}

.container form {
    display: flex;
    max-width: 25rem;
    flex-direction: column;
    gap: 1rem;
}

.form select{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    color: #2B2B2B;
}

.form select option{
    background-color: rgba(0, 0, 0, 0.2);
    color: #2B2B2B;
}

.form input{
    color: #2B2B2B;
}

.form button{
    width: 100%;
    padding: 0.5rem;
    background-color: #004CA3;
    color: #E0E0E0;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

.form button:hover{
    background-color: #003066;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .container h2 {
        font-size: 1.2rem;
    }

    .form{
        width: 80%;
    }
}