.main{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 2% 10%;
    display: grid;
    grid-template-rows: 10% 85%;
    gap: 5%;
    background-color: #CCCCCC;
}

.homeGrid{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85%;
    overflow-y: auto;
}