.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -1;
}

.main{
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 5% 90%;
    gap: 5%;
}

.body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 85%;
    gap: 5%;
}

.homeBackground{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #F3F3F3 75%, #003066 );
}

.homeGrid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}