.main{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 2% 10%;
    display: grid;
    grid-template-rows: 10% 85%;
    gap: 5%;
    background-color: #CCCCCC;
}

.homeBackground{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #F3F3F3 75%, #003066 );
}

.homeGrid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}