.medic{
    background-color: #990033;
    border-color: #5f021f;
    color: #E0E0E0;
}

.patient{
    background-color: #0088a3;
    border-color: #005566;
    color: #E0E0E0;
}

.item {
    max-width: 15rem;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item h2 {
    width: max-content;
    box-sizing: border-box;
    padding: 0 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.2);
}

.item p {
    font-size: 1rem;
    margin-bottom: 4px;
    color: #E0E0E0;
}

@media (max-width: 768px) {

    .item h2 {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    .dni{
        display: none;
    }
}