.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container input{
    width: 100%;
    padding-left: 0.5rem;
    border: 0.1vw solid #E0E0E0;
    border-radius: 5px;
    color: #2b2b2b;
}

.container input:focus{
    outline: none;
}

.container button{
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 100%;
    background-color: #990033;
    color: #E0E0E0;
    border: 0.1vw solid #E0E0E0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #5f021f;
  }

.container button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e0e0e0;
}

.container button:active {
    color: #cccccc;
}

.container button:disabled {
    color: #e0e0e0;
    cursor: not-allowed;
}