.medic{
    background-color: #990033;
    border-color: #5f021f;
    color: #E0E0E0;
}

.patient{
    background-color: #0088a3;
    border-color: #005566;
    color: #E0E0E0;
}

.admin{
    background-color: #004ca3;
    border-color: #003066;
    color: #E0E0E0;
}

.main{
    box-sizing: border-box;
    padding: 1rem;
    padding-left: 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.image{
    max-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 5rem;
    aspect-ratio: 1;
    border-radius: 100%;
}

.medicInfo{
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.patientInfo{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.text{
    /* padding: 0.5rem; */
    display: flex;
    flex-direction: column;
    align-items: baseline; 
    justify-content: space-between;
    flex-grow: 1;
}

.text h2{
    font-size: 1.5rem;
}

.text span{
    display: flex;
    gap: 1rem;
}

.text p{
    display: flex;
    align-items: flex-end;
    font-weight: 400;
}

.buttons, .patientButtons {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.patientButtons{
    align-items: normal;
}



.buttons a, .patientButtons a{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: 500;
    color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    text-decoration: none;
}

.buttons a:hover, .patientButtons a:hover{
    background-color: rgba(0, 0, 0, 0.4);
}


@media (max-width: 1024px){
    .buttons{
        flex-direction: column;
        justify-self: center;
    }

    .buttons a{
        padding: 0.25rem;
    }

    .text h2{
        font-size: 1.2rem;
    }

}

@media (max-width: 769px) {

    .main{
        width: 100%;
        padding-left: 1rem;
    }

    .image img{
        width: 75px;
        height: auto;
        aspect-ratio: 1;
    }

    .text{
        justify-content: center;
        gap: 0.2rem;
    }
    .text h2{
        font-size: 1rem;
    }

    .text span{
        flex-direction: column;
        gap: 0;
    }

    .buttons{
        display: none;
    }

    .text p{
        font-size: 0.8rem;
    }

    .medicOnly h2{
        font-size: 2rem;
    }
    
    .medicOnly{
        justify-content: center;
    }

    .medicOnly p{
        font-size: 1.1rem;
        align-self: center;
    }
}

@media (max-width: 660px){
    .patientButtons{
        flex-direction: column;
    }
}

@media (max-width: 426px) {

    .userInfo{
        gap: 1rem;
    }

    .text{
        justify-content: center;
        gap: 0.3rem;
    }
    .text h2{
        max-width: 7rem;
        font-size: 0.9rem;
    }

    .patientButtons a{
        font-size: 0.75rem;
        padding: 0.25rem;

    }

}

@media (max-width: 425px) {
    .userInfo{
        gap: 1rem;
    }

    .image img{
        width: 62px;
    }

    .text{
        justify-content: center;
        gap: 0.3rem;
    }
    .text h2{
        font-size: 0.9rem;
    }

    .text p{
        font-size: 0.8rem;
    }

    .medicOnly h2{
        font-size: 1.5rem;
    }
    
    .medicOnly p{
        font-size: 0.9rem;
        align-self: center;
    }
}